/* div+span{
    background-color: red;
} */

/* div.items>div~span{
    color: pink;
} */

/* div+div>p{
    background-color: yellow;
} */

/* nav>ul>li:first-child{
    background-color: gold;
} */
