/* .book{
    background-color: red;
}
#pen{
    color: green;
} */

/* div.items>p{
    color: yellow;
} */

/* #animal span{
    background-color: pink;
} */

/* .animal{
    color: blue;
} */

/* div>p.parag{
    background-color: green;
} */