*{
    padding: 0;
    margin: 0;
}
header{
    margin: 15px;
    background-attachment: fixed;
    
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    background-color: green;border-radius: 15px;
}
.nav-element,.nav-element>a{
    padding:0 10px;
    font-size: 30px;
    color: aliceblue;
    
}
.logo,.contact{
    padding: 0 40px;
    font-size: 30px;
    color: aliceblue;
}
.contact i{
    padding: 0 15px;
}
ul{
    display: flex;
    list-style-type: none;
}
.page{
    height: 100vh;
}